

    <!-- Navbar -->
    <nav class="navbar navbar-expand navbar-dark navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <img src="/assets/logo-header-icastdev.png">
      </ul>
  
      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a class=" btn btn-secondary" data-toggle="dropdown" href="#">
            <i class="fas fa-bars"></i>
          </a>
          <div id="container-droopdown" class="bg-dark dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <div id="itens-droopdown" class="bg-dark callout callout-warning">
              <a class="nav-link">Tecnologias</a>
            </div>

            <div id="itens-droopdown" class="bg-dark callout callout-info">
              <a class="nav-link">Portfólio</a>
            </div>
            
                <div id="itens-droopdown" class="bg-dark callout callout-danger">
                  <a class="nav-link">Sobre</a>
                </div>


                <div id="itens-droopdown" class="bg-dark callout callout-success">
                  <a class="nav-link">Contato</a>
                </div>
              </div>

        </li>
      </ul>
    </nav>
